.fm-field-label {
  font-weight: bold;
}

/**
 * GMap styling
 */
.gmap-bubble-text {
  display: block;
  font-weight: bold;
}

.gmap-bubble-text.street-address:after {
  content: ',\00a0';
}

.gmap-bubble-text.state,
.gmap-bubble-text.city {
  display: inline-block;
}

.gmap-bubble-text.state:after {
  content: '';
}
