/* $Id$ */

/**
 * Summary page
 */
span.filemaker-list-page {
  min-width: 200px;
  display: inline-block;
}

span.filemaker-search-page {
  width: 100px;
  display: inline-block;
}


/**
 * Search page
 */
#filemaker-simple-search {
  margin: 0;
  padding: 0;
  display: inline;
  position: relative;
}

#filemaker-simple-search .form-item {
  margin: 0;
  padding: 0;
  display: inline;
  position: relative;
}

.filemaker-field-list-heading {
  margin-top: 35px;
  text-align: left;
}


#filemaker-field-table ul,
#filemaker-field-table ol {
  margin-left: 15px;
}