/* $Id$ */
/**/
a.fm-ajaxlink.collapsed {
	background:url(images/link-collapsed.png) no-repeat left center;
	padding-left:18px;
}

a.fm-ajaxlink.expanded {
  background:url(images/link-expanded.png) no-repeat left center;
  padding-left:18px;
}

a.ajax-loading + span {
  background:url(images/ajax-loader.gif) no-repeat right center;
  padding-right:18px;
}